name: Cypress Tests


on:
 push:
 workflow_dispatch:


jobs:
 cypress-run:
   runs-on: ubuntu-24.04
   strategy:
     fail-fast: false
     matrix:
       browser: [chrome, edge]
   steps:
     - name: Checkout
       uses: actions/checkout@v4


     - name: Install Dependencies
       run: npm ci


     - name: Run Cypress Tests
       uses: cypress-io/github-action@v6
       with:
         browser: ${{ matrix.browser }}


     - name: Upload Cypress Artifacts
       uses: actions/upload-artifact@v4
       with:
         name: Cypress Artifacts ${{ matrix.browser }}
         path: |
           cypress/screenshots
           cypress/videos


# fail-fast: false ensures that even if one browser fails, the others continue to run.